<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.second.kill.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zzp.second.kill.admin.domain.User">
    <!--@mbg.generated generated on Wed Jan 15 13:58:27 CST 2020.-->
    <!--@Table user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />

    <association property="company" javaType="com.zzp.second.kill.admin.domain.Company">
<!--      <result column="cid" jdbcType="INTEGER" property="id" />-->
      <result column="cname" jdbcType="VARCHAR" property="name" />
<!--      <result column="parentId" jdbcType="INTEGER" property="parentid" />-->
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Jan 15 13:58:27 CST 2020.-->
    id, `name`, `password`, gender, email, birthday, createTime, updateTime, company_id
  </sql>

  <select id="selectUsers" resultMap="BaseResultMap">
    select u.id, u.`name`, u.gender, u.email, u.createTime, u.birthday,c.name cname
    from user u left join company c on u.company_id = c.id
  </select>
</mapper>
